<html>
<head>

</head>
<body>
    Ementa Semanal

    <table>
        <th>
            <td>Segunda-feira</td>
            <td>Terça-feira</td>
            <td>Quarta-feira</td>
            <td>Quinta-feira</td>
            <td>Sexta-feira</td>
        </th>
        <tbody>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>E</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>